In [1]:
import pandas as pd

In [2]:
# set default data display
pd.options.display.max_rows = 60
pd.options.display.max_columns = 20

In [3]:
raw_data = pd.read_csv('D:\Classes\[Udemy] Complete Data Science Course 2019\Absenteeism-data.csv')
raw_data.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [4]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
ID                           700 non-null int64
Reason for Absence           700 non-null int64
Date                         700 non-null object
Transportation Expense       700 non-null int64
Distance to Work             700 non-null int64
Age                          700 non-null int64
Daily Work Load Average      700 non-null float64
Body Mass Index              700 non-null int64
Education                    700 non-null int64
Children                     700 non-null int64
Pets                         700 non-null int64
Absenteeism Time in Hours    700 non-null int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.7+ KB

In [5]:
df = raw_data.copy()

### Drop 'ID'

In [6]:
df = df.drop(['ID'], axis=1)

### Column 'Reason for Absence'

In [7]:
# pd.unique(df['Reason for Absence'])
df['Reason for Absence'].unique()
# both works the same

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16], dtype=int64)

In [8]:
sorted(df['Reason for Absence'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

In [9]:
reason_columns = pd.get_dummies(df['Reason for Absence'])

In [10]:
reason_columns['check'] = reason_columns.sum(axis=1)
reason_columns

,0,1,2,3,4,5,6,7,8,9,...,19,21,22,23,24,25,26,27,28,check
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
6,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
8,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
10,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
17,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
671,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
672,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
673,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
674,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
675,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
677,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
678,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
679,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
680,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
681,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
682,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
683,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
684,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
685,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
686,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
687,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
688,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
689,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
690,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
692,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
693,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
694,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
696,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [11]:
reason_columns['check'].unique()

array([1], dtype=int64)

In [12]:
reason_columns['check'].sum(axis=0)

700

In [13]:
reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first=True)
reason_columns

,1,2,3,4,5,6,7,8,9,10,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
24,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
28,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
671,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
672,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
673,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
674,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
675,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
677,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
678,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
679,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
680,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
681,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
682,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
683,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
684,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
685,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
686,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
687,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
688,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
689,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
690,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
692,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
693,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
694,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
695,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

### Group the Reasons for Absence

In [14]:
df.columns.values

array(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours'], dtype=object)

In [15]:
reason_columns.columns.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 21, 22, 23, 24, 25, 26, 27, 28], dtype=int64)

In [16]:
reason_type_1 = reason_columns.loc[:, 1:14].max(axis=1)
reason_type_2 = reason_columns.loc[:, 15:17].max(axis=1)
reason_type_3 = reason_columns.loc[:, 18:21].max(axis=1)
reason_type_4 = reason_columns.loc[:, 22:].max(axis=1)

In [17]:
# or
df['reason_1'] = df['Reason for Absence'].map(lambda x: 1 if x in range(1,15) else 0)
df['reason_2'] = df['Reason for Absence'].map(lambda x: 1 if x in range(15,18) else 0)
df['reason_3'] = df['Reason for Absence'].map(lambda x: 1 if x in range(18,22) else 0)
df['reason_4'] = df['Reason for Absence'].map(lambda x: 1 if x in range(22,29) else 0)

In [18]:
# need to concatenate and also rename the columns name, if use method 1
# df = pd.concat([df, reason_type_1, reason_type_2, reason_type_3, reason_type_4,], axis=1)

In [19]:
df.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,reason_1,reason_2,reason_3,reason_4
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

### Reorder Columns

In [20]:
df.columns.values

array(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours', 'reason_1', 'reason_2', 'reason_3',
       'reason_4'], dtype=object)

In [21]:
# also delete column 'Reason for Absence'
column_names_reordered = ['reason_1', 'reason_2', 'reason_3',
       'reason_4', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours']

In [22]:
df = df[column_names_reordered]
df.head()

,reason_1,reason_2,reason_3,reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2

### Create a Checkpoint

In [23]:
df_reason_mod = df.copy()
# 'ID' droped
# 'Reason for Absence' changed into classified reason columns

### 'Date'

In [27]:
type(df['Date'][0])

str

In [33]:
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df['Date']

0     2015-07-07
1     2015-07-14
2     2015-07-15
3     2015-07-16
4     2015-07-23
5     2015-07-10
6     2015-07-17
7     2015-07-24
8     2015-07-06
9     2015-07-13
10    2015-07-20
11    2015-07-14
12    2015-07-15
13    2015-07-15
14    2015-07-15
15    2015-07-17
16    2015-07-17
17    2015-07-27
18    2015-07-30
19    2015-08-05
20    2015-08-12
21    2015-08-03
22    2015-08-10
23    2015-08-14
24    2015-08-17
25    2015-08-24
26    2015-08-04
27    2015-08-12
28    2015-08-19
29    2015-08-28
         ...
670   2018-04-24
671   2018-04-26
672   2018-04-26
673   2018-04-27
674   2018-05-07
675   2018-05-09
676   2018-05-09
677   2018-05-09
678   2018-05-09
679   2018-05-10
680   2018-05-10
681   2018-05-10
682   2018-05-11
683   2018-05-11
684   2018-05-11
685   2018-05-14
686   2018-05-15
687   2018-05-15
688   2018-05-15
689   2018-05-16
690   2018-05-16
691   2018-05-18
692   2018-05-21
693   2018-05-21
694   2018-05-23
695   2018-05-23
696   2018-05-23
697   2018-05-24
698   2018-05-24
699   2018-05-31
Name: Date, Length: 700, dtype: datetime64[ns]

In [34]:
type(df['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 14 columns):
reason_1                     700 non-null int64
reason_2                     700 non-null int64
reason_3                     700 non-null int64
reason_4                     700 non-null int64
Date                         700 non-null datetime64[ns]
Transportation Expense       700 non-null int64
Distance to Work             700 non-null int64
Age                          700 non-null int64
Daily Work Load Average      700 non-null float64
Body Mass Index              700 non-null int64
Education                    700 non-null int64
Children                     700 non-null int64
Pets                         700 non-null int64
Absenteeism Time in Hours    700 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(12)
memory usage: 76.6 KB

### Extract Month Value

In [47]:
df['Month'] = df['Date'].dt.month

# dt is an assessor for datetime data in Series object

In [48]:
df

,reason_1,reason_2,reason_3,reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7
5,0,0,0,1,2015-07-10,179,51,38,239.554,31,1,0,0,2,7
6,0,0,0,1,2015-07-17,361,52,28,239.554,27,1,1,4,8,7
7,0,0,0,1,2015-07-24,260,50,36,239.554,23,1,4,0,4,7
8,0,0,1,0,2015-07-06,155,12,34,239.554,25,1,2,0,40,7
9,0,0,0,1,2015-07-13,235,11,37,239.554,29,3,1,1,8,7
10,1,0,0,0,2015-07-20,260,50,36,239.554,23,1,4,0,8,7
11,1,0,0,0,2015-07-14,260,50,36,239.554,23,1,4,0,8,7
12,1,0,0,0,2015-07-15,260,50,36,239.554,23,1,4,0,8,7
13,1,0,0,0,2015-07-15,179,51,38,239.554,31,1,0,0,1,7
14,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,4,7
15,1,0,0,0,2015-07-17,246,25,41,239.554,23,1,0,0,8,7
16,0,0,0,1,2015-07-17,179,51,38,239.554,31,1,0,0,2,7
17,0,0,1,0,2015-07-27,179,51,38,239.554,31,1,0,0,8,7
18,1,0,0,0,2015-07-30,189,29,33,239.554,25,1,2,2,8,7
19,0,0,0,1,2015-08-05,248,25,47,205.917,32,1,2,1,2,8
20,1,0,0,0,2015-08-12,330,16,28,205.917,25,2,0,0,8,8
21,1,0,0,0,2015-08-03,179,51,38,205.917,31,1,0,0,1,8
22,1,0,0,0,2015-08-10,361,52,28,205.917,27,1,1,4,40,8
23,0,0,0,1,2015-08-14,260,50,36,205.917,23,1,4,0,4,8
24,0,0,1,0,2015-08-17,289,36,33,205.917,30,1,2,1,8,8
25,0,0,0,1,2015-08-24,361,52,28,205.917,27,1,1,4,7,8
26,0,0,0,1,2015-08-04,289,36,33,205.917,30,1,2,1,1,8
27,0,0,0,1,2015-08-12,157,27,29,205.917,22,1,0,0,4,8
28,0,0,1,0,2015-08-19,289,36,33,205.917,30,1,2,1,8,8
29,0,0,0,1,2015-08-28,179,51,38,205.917,31,1,0,0,2,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,1,2018-04-24,155,12,34,246.288,25,1,2,0,4,4
671,0,0,1,0,2018-04-26,225,26,28,246.288,24,1,1,2,8,4
672,1,0,0,0,2018-04-26,118,13,50,246.288,31,1,1,0,2,4
673,0,0,0,1,2018-04-27,179,26,30,246.288,19,3,0,0,2,4
674,0,0,0,1,2018-05-07,235,11,37,237.656,29,3,1,1,8,5
675,0,0,1,0,2018-05-09,225,15,41,237.656,28,4,2,2,3,5
676,0,0,0,1,2018-05-09,235,16,32,237.656,25,3,0,0,2,5
677,1,0,0,0,2018-05-09,118,10,37,237.656,28,1,0,0,3,5
678,0,0,0,1,2018-05-09,235,20,43,237.656,38,1,1,0,8,5
679,1,0,0,0,2018-05-10,179,26,30,237.656,19,3,0,0,1,5
680,0,0,0,1,2018-05-10,291,31,40,237.656,25,1,1,1,2,5
681,1,0,0,0,2018-05-10,225,15,41,237.656,28,4,2,2,8,5
682,0,0,1,0,2018-05-11,300,26,43,237.656,25,1,2,1,64,5
683,0,0,0,1,2018-05-11,225,15,41,237.656,28,4,2,2,8,5
684,0,0,0,1,2018-05-11,179,26,30,237.656,19,3,0,0,2,5
685,0,0,0,1,2018-05-14,118,13,50,237.656,31,1,1,0,2,5
686,1,0,0,0,2018-05-15,118,13,50,237.656,31,1,1,0,3,5
687,0,0,0,1,2018-05-15,118,10,37,237.656,28,1,0,0,1,5
688,0,0,0,0,2018-05-15,118,13,50,237.656,31,1,1,0,0,5
689,0,0,0,1,2018-05-16,179,26,30,237.656,19,3,0,0,2,5
690,0,0,0,0,2018-05-16,378,49,36,237.656,21,1,2,4,0,5
691,0,1,0,0,2018-05-18,179,22,40,237.656,22,2,2,0,1,5
692,1,0,0,0,2018-05-21,155,12,34,237.656,25,1,2,0,48,5
693,1,0,0,0,2018-05-21,235,16,32,237.656,25,3,0,0,8,5
694,0,0,0,1,2018-05-23,291,31,40,237.656,25,1,1,1,8,5
695,1,0,0,0,2018-05-23,179,22,40,237.656,22,2,2,0,8,5
696,1,0,0,0,2018-05-23,225,26,28,237.656,24,1,1,2,3,5
697,1,0,0,0,2018-05-24,330,16,28,237.656,25,2,0,0,8,5
698,0,0,0,1,2018-05-24,235,16,32,237.656,25,3,0,0,2,5
699,0,0,0,1,2018-05-31,291,31,40,237.656,25,1,1,1,2,5

### Extract the Day of the Week

In [49]:
df['Day'] = df['Date'].dt.dayofweek

In [50]:
df

,reason_1,reason_2,reason_3,reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month,Day
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3
5,0,0,0,1,2015-07-10,179,51,38,239.554,31,1,0,0,2,7,4
6,0,0,0,1,2015-07-17,361,52,28,239.554,27,1,1,4,8,7,4
7,0,0,0,1,2015-07-24,260,50,36,239.554,23,1,4,0,4,7,4
8,0,0,1,0,2015-07-06,155,12,34,239.554,25,1,2,0,40,7,0
9,0,0,0,1,2015-07-13,235,11,37,239.554,29,3,1,1,8,7,0
10,1,0,0,0,2015-07-20,260,50,36,239.554,23,1,4,0,8,7,0
11,1,0,0,0,2015-07-14,260,50,36,239.554,23,1,4,0,8,7,1
12,1,0,0,0,2015-07-15,260,50,36,239.554,23,1,4,0,8,7,2
13,1,0,0,0,2015-07-15,179,51,38,239.554,31,1,0,0,1,7,2
14,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,4,7,2
15,1,0,0,0,2015-07-17,246,25,41,239.554,23,1,0,0,8,7,4
16,0,0,0,1,2015-07-17,179,51,38,239.554,31,1,0,0,2,7,4
17,0,0,1,0,2015-07-27,179,51,38,239.554,31,1,0,0,8,7,0
18,1,0,0,0,2015-07-30,189,29,33,239.554,25,1,2,2,8,7,3
19,0,0,0,1,2015-08-05,248,25,47,205.917,32,1,2,1,2,8,2
20,1,0,0,0,2015-08-12,330,16,28,205.917,25,2,0,0,8,8,2
21,1,0,0,0,2015-08-03,179,51,38,205.917,31,1,0,0,1,8,0
22,1,0,0,0,2015-08-10,361,52,28,205.917,27,1,1,4,40,8,0
23,0,0,0,1,2015-08-14,260,50,36,205.917,23,1,4,0,4,8,4
24,0,0,1,0,2015-08-17,289,36,33,205.917,30,1,2,1,8,8,0
25,0,0,0,1,2015-08-24,361,52,28,205.917,27,1,1,4,7,8,0
26,0,0,0,1,2015-08-04,289,36,33,205.917,30,1,2,1,1,8,1
27,0,0,0,1,2015-08-12,157,27,29,205.917,22,1,0,0,4,8,2
28,0,0,1,0,2015-08-19,289,36,33,205.917,30,1,2,1,8,8,2
29,0,0,0,1,2015-08-28,179,51,38,205.917,31,1,0,0,2,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,1,2018-04-24,155,12,34,246.288,25,1,2,0,4,4,1
671,0,0,1,0,2018-04-26,225,26,28,246.288,24,1,1,2,8,4,3
672,1,0,0,0,2018-04-26,118,13,50,246.288,31,1,1,0,2,4,3
673,0,0,0,1,2018-04-27,179,26,30,246.288,19,3,0,0,2,4,4
674,0,0,0,1,2018-05-07,235,11,37,237.656,29,3,1,1,8,5,0
675,0,0,1,0,2018-05-09,225,15,41,237.656,28,4,2,2,3,5,2
676,0,0,0,1,2018-05-09,235,16,32,237.656,25,3,0,0,2,5,2
677,1,0,0,0,2018-05-09,118,10,37,237.656,28,1,0,0,3,5,2
678,0,0,0,1,2018-05-09,235,20,43,237.656,38,1,1,0,8,5,2
679,1,0,0,0,2018-05-10,179,26,30,237.656,19,3,0,0,1,5,3
680,0,0,0,1,2018-05-10,291,31,40,237.656,25,1,1,1,2,5,3
681,1,0,0,0,2018-05-10,225,15,41,237.656,28,4,2,2,8,5,3
682,0,0,1,0,2018-05-11,300,26,43,237.656,25,1,2,1,64,5,4
683,0,0,0,1,2018-05-11,225,15,41,237.656,28,4,2,2,8,5,4
684,0,0,0,1,2018-05-11,179,26,30,237.656,19,3,0,0,2,5,4
685,0,0,0,1,2018-05-14,118,13,50,237.656,31,1,1,0,2,5,0
686,1,0,0,0,2018-05-15,118,13,50,237.656,31,1,1,0,3,5,1
687,0,0,0,1,2018-05-15,118,10,37,237.656,28,1,0,0,1,5,1
688,0,0,0,0,2018-05-15,118,13,50,237.656,31,1,1,0,0,5,1
689,0,0,0,1,2018-05-16,179,26,30,237.656,19,3,0,0,2,5,2
690,0,0,0,0,2018-05-16,378,49,36,237.656,21,1,2,4,0,5,2
691,0,1,0,0,2018-05-18,179,22,40,237.656,22,2,2,0,1,5,4
692,1,0,0,0,2018-05-21,155,12,34,237.656,25,1,2,0,48,5,0
693,1,0,0,0,2018-05-21,235,16,32,237.656,25,3,0,0,8,5,0
694,0,0,0,1,2018-05-23,291,31,40,237.656,25,1,1,1,8,5,2
695,1,0,0,0,2018-05-23,179,22,40,237.656,22,2,2,0,8,5,2
696,1,0,0,0,2018-05-23,225,26,28,237.656,24,1,1,2,3,5,2
697,1,0,0,0,2018-05-24,330,16,28,237.656,25,2,0,0,8,5,3
698,0,0,0,1,2018-05-24,235,16,32,237.656,25,3,0,0,2,5,3
699,0,0,0,1,2018-05-31,291,31,40,237.656,25,1,1,1,2,5,3

In [65]:
#delete column date
df = df.drop(['Date'], axis=1)

### Rest Columns

In [51]:
type(df['Transportation Expense'][0])    #monthly transportation in dollars

numpy.int64

In [52]:
type(df['Distance to Work'][0])          #distance to travel to work in km

numpy.int64

In [53]:
type(df['Age'][0])

numpy.int64

In [54]:
type(df['Daily Work Load Average'][0])   #total work hours per day

numpy.float64

In [55]:
type(df['Body Mass Index'][0])

numpy.int64

### Education

In [56]:
# education is the only column left that contains integer value
# but have no numerical meaning, so dummy variable is what it is

In [58]:
df['Education'].unique()        #1 SHS, 2 graduate, 3 postgrad, 4 master or doctor

array([1, 3, 2, 4], dtype=int64)

In [60]:
df['Education'].value_counts()

1    583
3     73
2     40
4      4
Name: Education, dtype: int64

In [61]:
# classify graduate till doctor education in one category
df['Education'] = df['Education'].map({1: 0,
                                       2: 1,
                                       3: 1,
                                       4: 1})

In [62]:
df['Education'].value_counts()

0    583
1    117
Name: Education, dtype: int64

### Final Checkpoint

In [67]:
df_preprocessed = df.copy()
df_preprocessed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 15 columns):
reason_1                     700 non-null int64
reason_2                     700 non-null int64
reason_3                     700 non-null int64
reason_4                     700 non-null int64
Transportation Expense       700 non-null int64
Distance to Work             700 non-null int64
Age                          700 non-null int64
Daily Work Load Average      700 non-null float64
Body Mass Index              700 non-null int64
Education                    700 non-null int64
Children                     700 non-null int64
Pets                         700 non-null int64
Absenteeism Time in Hours    700 non-null int64
Month                        700 non-null int64
Day                          700 non-null int64
dtypes: float64(1), int64(14)
memory usage: 82.1 KB

### to_csv

In [70]:
df_preprocessed.to_csv('df_preprocessed.csv', index=False)